---
interface Props {
  posts: {
    title: string;
    date: string;
    excerpt: string;
    slug: string;
  }[];
}
const { posts } = Astro.props
---

<h2 class='text-3xl font-bold mb-8'>Recent Posts</h2>
<div class='space-y-6'>
  {
    posts.map(post => (
      <div class='p-6 rounded-lg text-base-content bg-base-200'>
        <a href={`/blog/${post.slug}`}>
          <h3 class='text-xl font-semibold mb-2 hover:underline'>{post.title}</h3>
        </a>
        <p class='text-sm mb-2'>{new Date(post.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</p>
        <p>{post.excerpt}</p>
      </div>
    ))
  }
</div>